# Ignore any file named dataset.pt (at any depth)
**/dataset.pt

# Ignore any folder containing "_old" (recursively)
**/*_old/

# Ignore datasets folder inside models
**/models/datasets/

# Ignore all .pt, .png, and .npz files
**/*.pt
**/*.png
!videos\MNIST Video\plots_detailed\figure\combined_figure.png
**/*.npz

# Ignore perturb_probs folders
**/perturb_probs/

# Ignore Python cache
__pycache__/